// over write default variables in scss:
// $primary: red;


@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
$dark-green: rgb(38, 57, 22);
$green-header: rgb(49, 80, 59);



@font-face {
    font-family: 'Muli';
    src: url('./muli/Muli.ttf');
}
* {
    font-family: 'Muli';
}

body {
    background-color: $dark-green;
  }
  
  
header {
    padding: 1rem;
    background-color: $green-header;
    color: #fafafa;
    text-align: center;
    margin-bottom: 2rem;
  }
  
 
  
  thead tr {
  background-color: #3c3c3c;
  color: rgb(165, 180, 175);
  }
  
  tr:nth-child(even) {
    background-color: #959c96;
  }
  
.complete {
    background-color: rgb(113, 128, 116) !important;
}

.tasks {
    text-decoration: line-through;
  }

